
@media screen and (min-width:320px) {

  .dropdown{
    position: relative;
    left: 2.5cm;
  }

  .menu-toggle{
    position: relative;
    right: 5.3cm;
  }


}
@media screen and (min-width:375px) {

  .dropdown{
    position: relative;
    left: 2.5cm;
  }
  .menu-toggle{
    position: relative;
    right: 6.3cm;
  }


}
@media screen and (min-width:425px) {

  .dropdown{
    position: relative;
    left: 2cm;
  }
  .menu-toggle{
    position: relative;
    right: 7.5cm;
  }


}
@media screen and (min-width:768px) {

  .dropdown{
    position: relative;
    left: 7cm;
  }
  .menu-toggle{
    position: relative;
    left: 10cm;
    bottom: 1.1cm;
  }


}

@media screen and (min-width:1024px) {

  .dropdown{
    position: relative;
    left: 12cm;
    top: .1cm;
  }



}

@media screen and (min-width:1440px) {

  .dropdown{
    position: relative;
    left: 16.5cm;
    top: .1cm;
  }



}




