body {
	background: #fff;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.container {
  background: #f5f5f5;
  width: 600px;
	margin: 100px auto;
	border-radius: 5px;
	border: 1px solid #fafafa;
	color: #515751;
  box-shadow: 3px 3px 14px 1px rgba(149,165,166,0.6);
}

.form-top {
	padding: 20px;
}

.cc-card {
  max-width: 75px;
  paddingf-right: 5px
}

h1 {
	color: #515751;
	margin: 0;
	padding: 10px 20px;
	font-size: 24px;
	font-weight: normal;
}



.input-hide {
	float:right;
	cursor:pointer;
}

select.form-control:hover{
  background: #F8F9F9;
}

option select.form-control :hover {
  background: #F8F9F9;
}

input {
	font-size: 18px;
	color: #4b6cb7;
	background-color: #f7f7f7;
	width: 300px;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
  letter-spacing: 0.15rem;
}

.form-control {
  box-shadow: 0px 0px 2px 2px rgba(47, 188, 105, 0);
  border: 1px solid rgba(47, 188, 105, 0);
  transition: all 0.35s ease-in-out;
  width: 700px;
}

.form-control:focus {
  border: 1px solid rgba(47, 188, 105, 0.8);
  box-shadow: 0px 0px 2px 2px rgba(47, 188, 105, 0.6);

}

#pay-now {
	font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 500;
	color:#f5f5f5;
	background-color: #21894c;
	width:100%;
	padding:13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
  transition: all .3s linear;
}

#pay-now a {
	text-decoration: none;
	color:#27AE60;
}

#pay-now:hover {
	color: #f5f5f5;
	background: #2fbc69;
	outline: none;
  transition: all .3s linear;
}
@media screen and (min-width:320px) and (max-width:720px) {
.container{
  width: 300px;
}
.form-control{
  width: 250px;
}
}
@media screen and (min-width:768px) {
  .container{
    width: 680px;
  }
  .form-control{
    width: 620px;
  }

  }
  @media screen and (min-width:1024px) and (max-width:1440px) {
    .container{
      width: 900px;
    }
    .form-control{
      width: 820px;
    }

    }
