<div class="container">
  <form #myform="ngForm" id="contact" action="" method="post">
    <h3>Quick Contact</h3>
    <fieldset>
      <input placeholder="Your name" type="text" id="name" name="name"  tabindex="1" required [(ngModel)]="register.name">
      <p *ngIf="register.name===''; else block "> incomplete field </p>
      <ng-template #block>
        <p [ngStyle]="{'color':'lime'}"> full field </p>
      </ng-template>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" name="email" type="email" tabindex="2" required [(ngModel)]="register.mail">
      <p *ngIf="register.mail===''; else block "> incomplete field </p>
      <ng-template #block>
        <p [ngStyle]="{'color':'lime'}"> full field </p>
      </ng-template>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" name="phoneNumber" type="tel" tabindex="3" required [(ngModel)]="register.phoneNumber">
      <p *ngIf="register.phoneNumber===''; else block "> incomplete field </p>
      <ng-template #block>
        <p [ngStyle]="{'color':'lime'}"> full field </p>
      </ng-template>

    </fieldset>
    <fieldset>
      <textarea placeholder="Type your Message Here...." name="message" required [(ngModel)]="register.message"></textarea>
      <p *ngIf="register.message===''; else block "> incomplete field </p>
      <ng-template #block>
        <p [ngStyle]="{'color':'lime'}"> full field </p>
      </ng-template>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" (click)="addMessage()">Submit</button>

    </fieldset>
  </form>


</div>
