<div >
  <div class="cart-list" class="scale-up-center" *ngIf="myCart.items[0].product == undefined ? false: true">
    <div  class="product-widget"  *ngFor="let p of myCart.items; index as i">
      <div class="product-img">
          <img [src]="p.product.images "alt="">
      </div>
      <button class="delete" (click)="removeFromCart(i)"><i
        class="fa fa-close"></i></button>
      <div class="product-body">
          <h3 class="product-name"><a href="#">
                  {{ p.product.name }}
              </a></h3>

          <h4 class="product-price"><span class="qty">

                  {{ p.quantity }} x
              </span> {{ p.product.price | currency:'USD' }}</h4>
      </div>

    </div>
    <div class="cart-summary">
      <small>
          {{ myCart.items[0].product == undefined ? 0 : myCart.items.length }} Item(s)
          selected</small>
      <h5>SUBTOTAL: {{ myCart.total | currency:'USD' }}</h5>
    </div>

    <div class="checkout">
      <a routerLink="/checkout">Checkout <i class="fa fa-arrow-circle-right"></i></a>
    </div>



  </div>
</div>

