<div class="col-md-12">


    <div class="row">

        <div class="lista"  *ngFor="let smartphone of smartphones">
            <div *ngIf="smartphone.category == 'smartphone' ">
              <div class="scale-up-center">
                <div class="card">
                    <img [src]="smartphone.images" class="card-img-top">
                    <div class="card-header" style="cursor: pointer">
                        <a [routerLink]="['/product', smartphone._id]">{{ smartphone.name | titlecase }}</a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ smartphone.description.substring(0, 25) }}...
                        </p>
                        <p class="price">
                            {{ smartphone.price | currency:'USD' }}
                        </p>
                        <button class="btn btn-outline-primary d-block mx-auto" (click)="addToCart(smartphone._id)"
                            [class.disabled]="smartphone.stock < 1" [class.btn-outline-danger]="smartphone.stock < 1">
                            {{
                            smartphone.stock < 1 ? 'Out of Stock' : 'Add to Stock' }} </button>
                    </div>
                </div>
              </div>
            </div>
        </div>


    </div>

</div>
