.banner {
  background-image: url("https://res.cloudinary.com/ds0jkxwmx/image/upload/v1685038175/fondo_x9ga4l.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}