.banner {
  background-image: url("https://res.cloudinary.com/ds0jkxwmx/image/upload/v1685045068/fondo_uw9owz.webp");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  padding-top: calc(591.44 / 1127.34 * 100%);
}